# Modified Z-Score.

What is modified z-score and how it is used to detect outliers in data science.

We will understand it by an example.

A simple use case of doing study on people height. Here i have 7 different people with their height and the mean/average number is is very simple the sum of all these numbers divided by the number count:
$$Mean = \frac{Sum.of.all.numbers}{numbers.count} $$

So mean/average height of all these people in figure **(09_fig)** will be **6.19.**

There is another concept called median. Median is just a middle number, when you sort all these heights like sorted list and the middle number in that sorted list will be called median **(09_fig1).**
$Median = Middle-Number-in-sorted-list $

Lets look at a different dataset where we do some property price analysis and these are property analysis in **09_fig2** and the analysis im doin is to detect an outlier.

Here in that figure 300k is an outlier, it is like abnormally higher value, see outlier is very subjective, in mant cases you want to consider this as a normal value this is probably not an outlier, so based on case to case you might want to treat these high values as normal values or outlier.

Lets say here you want to treat it as an outlier. You can use mean as your bases i-e 100k and mean you can see in the figure **09_fig3** is impacted by these outliers. If you did not have these three outliers then this mean would have shift somewhere there where most of the values are concentrated but because of these high values the mean is shifted towards the right and standard deviation is nothing but some boundaries around your mean, so one SD for a simple explanation would be some boundaries left and right hand side boundaries around your mean. The usual practise is to use 3 standard dev boundaries to detect outliers. Now here in this case that 300k data point will come under the boundary, so your methadology will not detect this as an outlier and the main reason this is happening is because mean has been affected by this high value, it has been shifted towards right, shown in fig **(09_fig4)**.

What if for the same use case we use median? Median is just a middle number, so median doesnt get impacted that much by these high values and what if we have similar standard deviation and you have a similar kind of a median daviation we call it median absolute deviation and we will look at the mathematical formula, it is similar to standard deviation but it is median instead of mean as it basis point. You can have 2 median absolute deviation, it is knows as **MAD** in short form or 3 or so on, and the usual criteria for MAD is 3.5 and that is the criteria for modified z-score and if we used this kind of methadology for this use-case then it will detect this 300k datapoint as an outlier and the reason about this is that we are using median instead of mean as a base and median is not affected by these high values as shown in **09_fig5**.

The mathematical formula for MAD is that you take every data point subtract it from median of the entire series take the absolute value and take a median of that:
$$MAD = median(|x - median(x)|) $$.

The modified Z-Score is x is your single data point because modified zscore is calculated for every single data point so here x is that single data point minus median of x divided by MAD multiplied by 0.6745 we dont know but it is how the formula is derived:
$$Modified-Z-Score = 0.6745*\frac{X-median(x)}{MAD} $$

now lets look at the excel demo quickly.Ok so here we have heigts of every people we'll first try to compute z-score.(refer to 09_modified_z_score.xlsx file).
We will first try to compute z-score. So z-score the threshold is 3 so if anything is more than 3, you consider it as an outlier so lets compute z-score. How do we do that first we will find out the average and average formula is [=average(A2:A8)] so that is our average and standard deviation would be [=stdev.p(A2:A8)] so that is your standard dev and the z-score is nothing but the average height. Also name these 2 cells with thier respective names so the z-score will be [=(A2-avg_height)/std_dev] and if z-score is greater than 3 then you consider them as an outlier so the formula is [=(b2>3)]. So there is no value which is greater than 3 so all the values will be false as there are no values greater than 3 , but look at people heights there is one datapoint with 10 feet and in real there is no one who's height is 10 feet that is clearly an outlier but this methadology did not detect it as an outlier because that value had alot of impact on average and standard dev, so 5.24.9,4.5 etc heights are normal but 10 feet is not normal as the tallest person recorded ever in world is 8.2 feet but 10 feet is just an outlier.

Now just lets use modified z-score for the same dataset and lets see what it tells us so for that first look at our formula:
$$MAD = median(|x - median(x)|) $$.

So based on this formula 1st we need to calculate the MAD which is median of x minus x median of x.
So first lets find the median [=median(E2:E8)] so that is our median and in the next cell we will find height - median height and absoulate of that [=ABS(E2-median_height)] which will make the negative number positive. After finding these 2 also find MAD which the median of the 2nd cell(height - median height) i-e [=median(F2:F8)], now lets find the modified z-score:
$$Modified-Z-Score = 0.6745*\frac{X-median(x)}{MAD} $$

So in excel it will be [=(E2-median_height)].

After finding this lets check it by comparing with greater sign, so the general guideline is 3.5 as a threshold for modified z-score so anything having modified z-score of 3.5 or more will be an outlier so formula: [=G2>3].
So the 10 feet datapoint is now detected as an outlier and that is true.

Which one is better z-score or modified z-score?

See if the sample size is smaller and if you have outliers then it will have more bigger impact on average and std and using z-score for that often doesnt work in this situation if we used modified z-score then at least it will detect or tell you or indicate some bigger values and based on that we can make decisions and catch outliers as in previous example.

Now lets write python code.

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('09_movie_revenues.csv')
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,54000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",http://www.youmeanddupree.com/,1819,"[{""id"": 1253, ""name"": ""roommate""}, {""id"": 2038...",en,"You, Me and Dupree",After standing in as best man for his longtime...,18.600367,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/14/2006,130431368,108,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Two's company. Dupree's a crowd.,"You, Me and Dupree",5.4,407
2,21000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",NaN,2575,"[{""id"": 246, ""name"": ""dancing""}, {""id"": 470, ""...",en,The Tailor of Panama,A British spy is banished to Panama after havi...,7.047975,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""IE"", ""name"": ""Ireland""}, {""is...",2/11/2001,28008462,109,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"In a place this treacherous, what a good spy n...",The Tailor of Panama,6.2,92
3,1000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",NaN,26791,[],en,Brigham City,Wes Clayton is a lawman and a bishop in a Morm...,0.280083,"[{""name"": ""Main Street Movie Company"", ""id"": 6...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/30/2001,852206,119,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Brigham City,7.3,4
4,100000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",NaN,644,"[{""id"": 310, ""name"": ""artificial intelligence""...",en,A.I. Artificial Intelligence,"A robotic boy, the first programmed to love, D...",34.035114,"[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",6/29/2001,235926552,146,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,David is 11 years old. He weighs 60 pounds. He...,A.I. Artificial Intelligence,6.8,1974

In [5]:
# if we look at the movies revenues they are such huge numbers so lets first make those into millions or billions.
df.revenue.describe()

count    4.600000e+01
mean     1.879289e+08
std      4.551144e+08
min      8.522060e+05
25%      2.866957e+07
50%      8.381714e+07
75%      1.382135e+08
max      2.787965e+09
Name: revenue, dtype: float64

In [6]:
df['revenue_mln'] = df['revenue'].apply(lambda x: x/1000000)
df.revenue_mln.describe()

count      46.000000
mean      187.928898
std       455.114423
min         0.852206
25%        28.669569
50%        83.817142
75%       138.213502
max      2787.965087
Name: revenue_mln, dtype: float64

In [7]:
df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_mln
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,12/10/2009,2787965087,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087
1,54000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",http://www.youmeanddupree.com/,1819,"[{""id"": 1253, ""name"": ""roommate""}, {""id"": 2038...",en,"You, Me and Dupree",After standing in as best man for his longtime...,18.600367,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,7/14/2006,130431368,108,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Two's company. Dupree's a crowd.,"You, Me and Dupree",5.4,407,130.431368

In [10]:
# lets first apply simple z-score to detect outliers and to compute z-score we need average value and stdev and to get that we need to describe the data set as we did earlier
_, mean, std, *_=df.revenue_mln.describe()

In [11]:
mean,std

(187.92889841304347, 455.1144234195408)

In [12]:
# now we will create a new column in df which will be a z-score of revenue and in order to do that we need to write a function i-e
def get_z_score(value,mean,std):
    return (value-mean)/std

In [13]:
df['z_score']=df.revenue_mln.apply(lambda x: get_z_score(x,mean,std))
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_mln,z_score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087,5.712929
1,54000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",http://www.youmeanddupree.com/,1819,"[{""id"": 1253, ""name"": ""roommate""}, {""id"": 2038...",en,"You, Me and Dupree",After standing in as best man for his longtime...,18.600367,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,130431368,108,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Two's company. Dupree's a crowd.,"You, Me and Dupree",5.4,407,130.431368,-0.126336
2,21000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",NaN,2575,"[{""id"": 246, ""name"": ""dancing""}, {""id"": 470, ""...",en,The Tailor of Panama,A British spy is banished to Panama after havi...,7.047975,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,28008462,109,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"In a place this treacherous, what a good spy n...",The Tailor of Panama,6.2,92,28.008462,-0.351385
3,1000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",NaN,26791,[],en,Brigham City,Wes Clayton is a lawman and a bishop in a Morm...,0.280083,"[{""name"": ""Main Street Movie Company"", ""id"": 6...",...,852206,119,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Brigham City,7.3,4,0.852206,-0.411054
4,100000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",NaN,644,"[{""id"": 310, ""name"": ""artificial intelligence""...",en,A.I. Artificial Intelligence,"A robotic boy, the first programmed to love, D...",34.035114,"[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...",...,235926552,146,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,David is 11 years old. He weighs 60 pounds. He...,A.I. Artificial Intelligence,6.8,1974,235.926552,0.105463

In [14]:
df[df.z_score>3] # outlier

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_mln,z_score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087,5.712929

In [15]:
# lets use modified z-score to detect outliers

In [16]:
def get_mad(s):
    median = np.median(s)
    diff = abs(s-median)
    MAD = np.median(diff)
    return MAD

In [18]:
MAD = get_mad(df.revenue_mln)
median = np.median(df.revenue_mln)
MAD, median

(np.float64(56.399542499999995), np.float64(83.8171415))

In [19]:
def get_modified_z_score(x,median,MAD):
    return 0.6745*(x-median)/MAD

In [21]:
get_modified_z_score(2787,median,MAD)

np.float64(32.32822035849404)

In [23]:
df['mod_z_score']=df.revenue_mln.apply(lambda x:get_modified_z_score(x,median,MAD))
df.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_mln,z_score,mod_z_score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087,5.712929,32.339762
1,54000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",http://www.youmeanddupree.com/,1819,"[{""id"": 1253, ""name"": ""roommate""}, {""id"": 2038...",en,"You, Me and Dupree",After standing in as best man for his longtime...,18.600367,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,108,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Two's company. Dupree's a crowd.,"You, Me and Dupree",5.4,407,130.431368,-0.126336,0.557474
2,21000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",NaN,2575,"[{""id"": 246, ""name"": ""dancing""}, {""id"": 470, ""...",en,The Tailor of Panama,A British spy is banished to Panama after havi...,7.047975,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,109,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"In a place this treacherous, what a good spy n...",The Tailor of Panama,6.2,92,28.008462,-0.351385,-0.667434

In [24]:
df[df.mod_z_score>3.5]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_mln,z_score,mod_z_score
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087,5.712929,32.339762
7,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,124,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662,1513.528810,2.912674,17.098375
12,25000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,619,"[{""id"": 1156, ""name"": ""sister sister relations...",en,The Bodyguard,A former Secret Service agent grudgingly takes...,26.576385,"[{""name"": ""Tig Productions"", ""id"": 335}, {""nam...",...,129,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never let her out of your sight. Never let you...,The Bodyguard,6.1,661,411.006740,0.490158,3.912964